node_modules
bin
adp-sandbox
cljs-runtime
target
javascripts
rata
classes
checkouts
out
repl
.repl
pom.xml.asc
.idea
*.iml
*.log
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.ipynb_checkpoints
*.db
*.jar
.cpcache
app/sample/data/source/
app/demo
app

node_modules/
public/js

/target
/checkouts
/src/io.metarx.core.gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
